<div
  class="flex-shrink-0 relative overflow-hidden rounded-lg shadow-lg"
  [class]="backGroundColor"
  >
  <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
    <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
    <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
  </svg>
  <div class="relative pt-6 px-6 flex items-center justify-center">
    <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
    <img class="relative w-full" [src]="category.image" [alt]="'imagen de '+ category.name">
  </div>
  <div class="grid grid-rows-2 text-white px-6 pb-6 mt-6">
    <p class="font-semibold text-xl">{{category.name}}</p>
    <a
      (click)="changeCategory()"
      routerLink="/store"
      [queryParams]="{category_id: category.id}"
      class="w-fit justify-self-end z-50 bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center"
    >{{"CategoryCardButton"|translate}}</a>
  </div>
</div>
