<section class="w-full">
  <div class="h-2 bg-red-light"></div>
	<div class="w-full flex items-center justify-center h-auto bg-red-lightest">
		<div class="w-full bg-white shadow-lg rounded-lg">
			<div class="flex">
				<div class="items-stretch">
					<img class="w-full h-full rounded hidden md:block" src="https://tailwindcss.com/img/card-top.jpg" alt="Album Pic">
				</div>
				<div class="w-full p-8">
					<div class="flex justify-between">
						<div>
							<h3 class="text-2xl text-grey-darkest font-medium">{{audioName}}</h3>
							<p class="text-sm text-grey mt-1">{{artist}}</p>
						</div>
						<div class="text-red-600 hover:scale-110 transition-all">
							<svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z"/></svg>
						</div>
					</div>
					<div class="flex justify-between items-center mt-8">
						<button class="text-grey-darker">
							<svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6.59 12.83L4.4 15c-.58.58-1.59 1-2.4 1H0v-2h2c.29 0 .8-.2 1-.41l2.17-2.18 1.42 1.42zM16 4V1l4 4-4 4V6h-2c-.29 0-.8.2-1 .41l-2.17 2.18L9.4 7.17 11.6 5c.58-.58 1.59-1 2.41-1h2zm0 10v-3l4 4-4 4v-3h-2c-.82 0-1.83-.42-2.41-1l-8.6-8.59C2.8 6.21 2.3 6 2 6H0V4h2c.82 0 1.83.42 2.41 1l8.6 8.59c.2.2.7.41.99.41h2z"/></svg>
						</button>
						<button class="text-grey-darker">
							<svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 5h3v10H4V5zm12 0v10l-9-5 9-5z"/></svg>
						</button>
						<button class="text-white p-8 rounded-full bg-red-500 shadow-lg hover:scale-110 transition-all"
            (click)="playPause()">
              @if (!isPlaying()) {
                <svg
                  xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                  <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                </svg>
              }
              @else {
                <svg
                  xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
                  <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5m4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5"/>
                </svg>
              }
						</button>
						<button class="text-grey-darker">
							<svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 5h3v10h-3V5zM4 5l9 5-9 5V5z"/></svg>
						</button>
						<button class="text-grey-darker">
							<svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5 4a2 2 0 0 0-2 2v6H0l4 4 4-4H5V6h7l2-2H5zm10 4h-3l4-4 4 4h-3v6a2 2 0 0 1-2 2H6l2-2h7V8z"/></svg>
						</button>
					</div>
				</div>
			</div>
			<div class="mx-8 py-4">
				<div class="flex justify-between text-sm text-grey-darker">
					<p>{{currentTime()}}</p>
					<p>{{duration()}}</p>
				</div>
				<div class="mt-1">
					<div #wave></div>
				</div>
			</div>
		</div>
	</div>
</section>
