<article class="group flex justify-between mt-6">
  <div class="flex">
      <img
      class="h-20 w-20 object-cover rounded"
      [src]="productCart.images[0]"
      [alt]="'imagen de '+ productCart.title">
      <div class="mx-3 flex flex-col">
          <h3 class="text-sm text-gray-600 dark:text-gray-200">{{productCart.title}}</h3>
          <div class="flex flex-grow items-center">
              <button (click)="reduceAmount()" class="text-gray-500 focus:outline-none focus:text-gray-600 dark:text-gray-200">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
              </button>
              <span class="text-gray-700 mx-2 dark:text-gray-200">{{productCart.totalProduct}}</span>
              <button (click)="increaseAmount()" class="text-gray-500 focus:outline-none focus:text-gray-600 dark:text-gray-200">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
              </button>
          </div>
      </div>
  </div>
  <div class="flex flex-col items-center justify-start">
    <span class="text-gray-600 dark:text-gray-200">{{productCart.price}}</span>
    <button class="hidden group-hover:flex w-full flex-grow justify-center items-center cursor-pointer">
      <i (click)="deleteItself()" class="bi bi-x-circle text-2xl text-red-600 font-extrabold"></i>
    </button>
  </div>
</article>
